/* 
||||||||||   COLORS   |||||||||||

Background color (gray nurse): #EEEEEE;
Text color (dark gray):	#2b2b2b;
Primary color (Vivid Violet):	#9F40A0;
Secondary color (Mantis):	#78C750;
third color (Jaffa): #d66c00;
Bulbasaur color (Portage): #A890F0;
Butterfree color (Citron): #A7B820;
Pidgeot color (Hilary): #A8A879;
*/

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #EEEEEE;
	color: #2b2b2b;
	font-family: 'lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.page {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.center {
	text-align: center;
}

ul {
	 list-style-type: none;
	 padding: 0;
	 margin: 0;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	font-family: 'lato', sans-serif;
	line-height: normal;
	color: #9F40A0;
	}

h2 {
	font-size: 26px;
	font-weight: 400;
	font-family: 'lato', sans-serif;
	line-height: normal;
	color: #d66c00;
}

p {
	font-size: 16px;
	font-weight: 300;
	font-family: 'lato', sans-serif;
	line-height: 1.0;
}

.strong {
	font-weight: 400;
	color: #357b70;
	font-size: 105%;
	padding: 0px 1.5px;
}

/* layout search pokemon */
.form-control {
background-color: #4caf50; /* Green */
border: none;
color: white;
padding: 16px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 14px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
background-color: white;
color: black;
border: 2px solid #d66c00;
width: 230px;
height: 30px;
}

.hidden {
	display: none;
}

/* layout button */
.button-class {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 14px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px solid #4caf50;
	width: 150px;
	height: 150px;
}
	.padding {
	padding-bottom: 20px;
}

